{# Created by Arkan on 24/4/2016. #}
{% extends dirServerLayoutViews + "/error" + viewFileExtension %}

{% block title %}
    {{pageTitle}}
{% endblock %}

{% block content %}
    <div class="error-code display-4">{{ error }}</div>
    <div class="error-message display-2">{{ message }}</div>
    <div class="error-submessage">
        {{ stack }}
    </div>
    <div class="margin-top-2">
        <a href="#">Go back to home page</a>
    </div>
{% endblock %}

{% block javascript %}{# Page-Level Plugin Scripts - Dashboard #}
    <script src="/public/lib/google-code-prettify/bin/prettify.min.js" type="text/javascript"></script>
    <script src="/public/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="/public/lib/iCheck/icheck.min.js" type="text/javascript"></script>
    <script src="/public/lib/bootstrap-select/dist/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="/public/lib/datatables/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/public/lib/datatables/media/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="/public/lib/fullscreen/fullScreen.min.js" type="text/javascript"></script>
    <script src="/public/lib/moment/min/moment.min.js" type="text/javascript"></script>
    <script src="/public/lib/fullcalendar/dist/fullcalendar.min.js" type="text/javascript"></script>
    {# <script src="/public/lib/sparkline/dist/jquery.sparkline.js" type="text/javascript"></script>#}
    <script src="/public/lib/peity/jquery.peity.min.js" type="text/javascript"></script>
    <script src="/public/lib/chartist/dist/chartist.min.js" type="text/javascript"></script>
    <script src="/public/lib/summernote/dist/summernote.min.js" type="text/javascript"></script>
    <script src="/public/lib/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="/public/lib/bootstrap-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.min.js" type="text/javascript"></script>
    {# Cerocreativo Plugins #}
    <script src="/public/plugins/materialRipple/jquery.materialRipple.js" type="text/javascript"></script>
    <script src="/public/plugins/snackbar/jquery.snackbar.js" type="text/javascript"></script>
    <script src="/public/plugins/toasts/jquery.toasts.js" type="text/javascript"></script>
    <script src="/public/plugins/speedDial/jquery.speedDial.js" type="text/javascript"></script>
    <script src="/public/plugins/circularProgress/jquery.circularProgress.js" type="text/javascript"></script>
    <script src="/public/plugins/linearProgress/jquery.linearProgress.js" type="text/javascript"></script>
    <script src="/public/plugins/subheader/jquery.subheader.js" type="text/javascript"></script>
    <script src="/public/plugins/simplePieChart/jquery.simplePieChart.js" type="text/javascript"></script>
{% endblock %}
